<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-menu side="start" class="my-custom-menu">
    <ion-header>
      <ion-toolbar translucent>
        <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
        <ion-title class="title-menu"> Centros de Atención </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
     <img class="logo" src="assets/images/Logo.svg">
        <ion-item text-center class="text-menu" routerLink="/home" id="M1"><ion-label>Centros de Atención</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/Tips"><ion-label>Tips</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/blog"><ion-label>Blog</ion-label></ion-item>
        <ion-item text-center class="text-menu" routerLink="/galeria"><ion-label>Galeria</ion-label></ion-item>
        <ion-item text-center class="text-menu"><ion-label>Salir</ion-label></ion-item>
        <ion-item offset="1" >
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-item>
          <ion-item offset="1" >
          <img class="icono" src="assets/icon/usa.svg">
          <img class="icono" src="assets/icon/mexico.svg">
        </ion-item>
        </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" main>
<ion-header>
  <ion-toolbar>
    <ion-title>
  Noticias 
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- esta es la parte del blog que se trae a la base de datos -->
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Notas TherapyFriends 
    </ion-list-header>

<!-- esta es una prueba para la lista -->

<ion-list *ngFor="let nota of Notas" class="user-list"  fullscreen>
<ion-item>  
  <ion-avatar slot="start">
            <img src="assets/images/Logo.svg">
          </ion-avatar>
          <ion-label>
            <h2><ion-icon class="txt-input" name="person"></ion-icon>{{nota.nombre}}</h2>
            <h3><ion-icon class="txt-input" name="call"></ion-icon>{{nota.telefono}}</h3>
            <h3><ion-icon class="txt-input" name="call"></ion-icon>{{nota.email}}</h3>
            <p align="justify">{{nota.descripcion}}</p>
          </ion-label>
        </ion-item> 
      
</ion-list>
</ion-list>
</ion-content>
</div>
</ion-app>