<ion-header>
  <ion-toolbar translucent>
    <ion-buttons slot="start">
  <ion-back-button defaultHref="login"></ion-back-button>
</ion-buttons>
    <ion-title class="title-menu"> Citas para tratamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Inputs with labels -->
<ion-item>
  <ion-label position="stacked" class="txt-input">Nombre Completo para la cita</ion-label>
  <ion-input class="txt-input"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked" class="txt-input">Lugar de la cita</ion-label>
  <ion-input class="txt-input"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked" class="txt-input">Numero telefonico</ion-label>
  <ion-input class="txt-input"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked" class="txt-input">Dia (Lunes a viernes)</ion-label>
  <ion-input class="txt-input"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked" class="txt-input">Hora (6 AM / 10 PM)</ion-label>
  <ion-input class="txt-input"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked" class="txt-input">Cantidad de personas para la cita</ion-label>
  <ion-input class="txt-input"></ion-input>
</ion-item>

<ion-col offset="1" size="10">
  <ion-button color="light"  expand="block"  size="large" class="botones" ><ion-text color="secondary">
    <h3>Inicio de Sesión</h3>
  </ion-text></ion-button>
</ion-col>

</ion-content>

